body,
html {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    font-family: Arial, sans-serif;
}

h2 {
    color: #333740;
    font-size: 1.5rem;
    /* Responsive font size */
}

/* Navbar Section */
/* Base navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    transition: background-color 0.3s;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #333740;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: #333740;
}

/* Additional CSS for scrolled navbar */
.navbar.scrolled {
    background-color: #f8f8f8; /* Lighter shade or transparent effect */
}

/* Hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333740;
}

/* Responsive navbar */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        position: absolute;
        background-color: white;
        right: 0;
        top: 60px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    }

    .navbar-links a {
        padding: 10px;
    }

    .hamburger {
        display: flex;
    }
}


/* Hero Section */

.hero,
#portfolio,
#about,
#skills {
    padding: 1.25rem;
    /* Dynamic spacing */
    text-align: center;
}

#portfolio,
#about {
    background-color: #f0f0f0;
}

.hero{
    /* background-image: url(/assets/images/alex_maina_icon.JPG);
    background-repeat: no-repeat;
    background-size: auto;
    height: 50vh;
    background-position: center; */
}

.hero img{
    width: 60%;
    height: auto;
}

.hero-icon {
    width: 25vw;
    /* Dynamic width based on viewport width, with a cap for larger screens below */
    max-width: 100px;
    /* Cap size for larger screens */
    height: auto;
    margin-bottom: 1rem;
}

.wooden-frame {
    display: inline-block;
    padding: 20px; /* This acts as the frame's width */
    background-color: #8B4513; /* Dark brown for the wood color */
    box-shadow:
        0 0 10px #654321, /* Inner shadow for depth */
        0 0 15px #654321; /* Outer shadow for more depth */
    margin: 20px;
    border: 5px solid #A0522D; /* Slightly lighter border to give a layered effect */
}

.wooden-frame img {
    display: block; /* Removes bottom space/gap */
    width: 100%; /* Makes the image expand to the container's padding area */
    height: auto;
}


h1 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* Portfolio Section */
.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.9375rem;
}

/* About Me Section */
.timeline-item {
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Skills & Services Section */
.skills-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.625rem;
}

.skill {
    padding: 0.5rem 1rem;
}

/* Media Queries for larger screens */
@media (min-width: 48em) {

    /* 768px equivalent */
    .hero-icon {
        max-width: 150px;
        /* Fixed size cap for larger icons */
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.125rem;
    }

    .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
        /* Using rem for grid sizing */
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill {
        padding: 0.625rem 1.25rem;
    }
}

/* Testimonials */
#testimonials {
    background-color: #ffffff;
    padding: 1.25rem;
}

.testimonial p {
    font-size: 1rem;
    color: #333740;
}

cite {
    display: block;
    margin-top: 0.5rem;
    font-style: normal;
    color: #4f5d75;
}

/* Carousel Section */

.carousel {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 30rem;
    margin: auto;
}

.carousel__item {
    display: none; /* Hide all images by default */
    /* width: 100%; */
    transition: transform 0.5s ease;
    /* margin: auto; */

}

.carousel__item.active {
    display: flex; /* Show active item */
    max-width: 90%;
    width: 18rem; /* Set fixed width */
    height: 25rem; /* Set fixed height */
    overflow: hidden; /* Ensures no part of the image spills out of the container */
    justify-content: center;
    align-items: center;
    margin: auto;
}

.carousel__item img {
    height: auto;
    width: 100%;
    display: block;
}

.carousel__button--prev,
.carousel__button--next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.carousel__button--prev {
    left: 10px;
}

.carousel__button--next {
    right: 10px;
}

@media (max-width: 768px) {
    /* Styles for mobile */
}

/* End of Carousel Section */


/* Contact Section */
#contact {
    background-color: #f0f0f0;
    padding: 1.25rem;
}

#contact form {
    display: grid;
    gap: 0.625rem;
    padding: 2rem;
}

input,
textarea {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    /* For spacing between form elements */
    border: 1px solid #ccc;
    border-radius: 0.3125rem;
}

button {
    padding: 0.625rem 1.25rem;
    background-color: #333740;
    color: white;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
}